@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

html {
    display: table;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

header, footer {
    background-color: rgb(10, 32, 50);
    color: white;
    padding: 5px 0px;
    margin: auto;
    width: 100%;
    text-align: center;
}

h3 {
    margin: auto;
    font-size: 24px;
    padding-top: 10px;
}

img {
    padding: 5px 2.5%;
}

.design {
    display: grid;
    border: 1px solid rgb(194, 194, 194);
    background-color: rgb(238, 238, 238);
    margin: 10px 0px;
    max-width: 340px;
}

.design p, a {
    padding: 0px 10px;
    font-size: 16px;
}

#designContainer {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
}